[submodule "tree_intersection/C++/lib/googletest"]
	path = tree_intersection/C++/lib/googletest
	url = https://github.com/google/googletest/
[submodule "tree_intersection/C++/lib/json"]
	path = tree_intersection/C++/lib/json
	url = https://github.com/nlohmann/json
